.table-2{
    background-color: lightblue;
}
.table-3{
    background-color: gainsboro;
}
.table-4{
    background-color: lightgreen;
}
.table-5{
    background-color: #b3d7ff;
}
.table-6{
    background-color: lightgoldenrodyellow;
}
.table-7{
    background-color: lightpink;
}
.table-8{
    background-color: lightgray;
}
.table-9{
    background-color: white;
}
.table-10{
    background-color: lightgrey;
}